<template lang="html">
  <Message v-if="errorMessage" severity="error">{{errorMessage}}</Message>
  <h1>Blog</h1>
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <div>
    <button type="button" @click="goback">&lt;&lt;</button>
  </div>
  <div v-if="!errorMessage">
    <NewComment @newcommentcreated="loadComments" :blog_id="blog_id"/>
  </div>
  <div class="comments">
    <div class="" v-for="item in comments">
      <span>Date: {{item.insert_date}}</span> | <span>User: {{item.user_name}}</span> | <span class="action" @click="likeit(item.id)">&#x1F44D; {{item.likes}}</span> | <span class="action" @click="removeit(item.id)">&#x274c;</span>
      <p>{{item.content}}</p>
    </div>
  </div>
</template>

<script>
import NewComment from '@/components/NewComment.vue'

export default {
  name: "Blog",
  data() {
    return {
      title: "",
      content: "",
      comments: [],
      errorMessage: ""
    }
  },
  computed: {
    blog_id() {
      return this.$route.params.blog_id
    }
  },
  components: {
    NewComment
  },
  async mounted() {
    try {
      const result = await this.$Http.get(`/blog/${this.blog_id}`)
      this.title = result.data.title,
      this.content = result.data.content
      this.loadComments()
    } catch (error) {
      console.error(error.response.data);
      if (error.response.data.statusCode == this.$HttpStatus.NOT_FOUND) {
        this.errorMessage = this.$Text('ERROR_BLOG_NOT_FOUND')
      }
    }
  },
  methods: {
    goback() {
      this.$router.go(-1)
    },
    async loadComments() {
      try {
        const result = await this.$Http.get(`/comment/`, { params: {
          blog_id: this.$route.params.blog_id
        } })
        this.comments = result.data.map(item => {
          return {
            ...item,
            insert_date: new Date(item.insert_date).toLocaleString()
          }
        })
      } catch (error) {
        console.error(error.response.data);
      }
    },
    async likeit(comment_id) {
      try {
        const result = await this.$Http.patch(`/comment/${comment_id}/like`)
        this.comments.find(item => item.id === comment_id).likes = result.data.likes
      } catch (error) {
        console.error(error.response.data);
      }
    },
    async removeit(comment_id) {
      try {
        const result = await this.$Http.delete(`/comment/${comment_id}`)
        this.comments.splice(
          this.comments.indexOf(
            this.comments.find(item => item.id === comment_id)),
          1
        )
      } catch (error) {
        console.error(error.response.data);
      }
    }
  }
}
</script>

<style lang="css" scoped>
.action {
  cursor: pointer;
}
</style>
