<template>
  <div class="home">
    <h1>Home</h1>
    <img alt="Vue logo" src="../assets/logo.png">
    <p class="error" v-if="errorMessage">{{errorMessage}}</p>
    <div>
      <button type="button" @click="signout">Sign Out</button>
    </div>
    <div class="">
      <NewBlog @newblogcreated="newBlogCreated"/>
    </div>
    <div class="new_blogs" v-if="newBlogCount">
      <div @click="loadNewBlogs" class="newbloglink">{{newBlogCount}} New Blog</div>
    </div>
    <div>
      <ul>
        <li v-for="item in blogs"><router-link :to="{ name: 'Blog', params: { blog_id: item.id } }">{{item.title}}</router-link></li>
      </ul>
    </div>
  </div>
</template>

<script>
import NewBlog from '@/components/NewBlog.vue'

export default {
  name: 'Home',
  data() {
    return {
      blogs: [],
      newBlogs: [],
      errorMessage: ""
    }
  },
  components: {
    NewBlog
  },
  computed: {
    newBlogCount() {
      return this.newBlogs.length
    }
  },
  async mounted() {
    try {
      const result = await this.$Http.get("/blog")
      this.blogs = result.data
    } catch (error) {
      console.error(error.response.data);
      return
    }

    this.$EventServer.addListener('blog_created', this.eventNewBlog)
  },
  beforeUnmount() {
    this.$EventServer.removeListener('blog_created', this.eventNewBlog)
  },
  methods: {
    eventNewBlog(e) {
      const data = JSON.parse(e.data)
      this.newBlogs.push(data)
    },
    async signout() {
      try {
        await this.$store.dispatch('SignOut')
        document.location = '/home'
      } catch (error) {
        this.errorMessage = error.message
      }
    },
    newBlogCreated(blogArgs) {
      this.blogs.push({
        id: blogArgs.id,
        title: blogArgs.title
      })
    },
    loadNewBlogs() {
      while (this.newBlogs.length > 0)
        this.blogs.push(this.newBlogs.shift())
    }
  }
}
</script>

<style media="screen" scoped="">
.new_blogs {
  background-color: lime;
}
.newbloglink {
  cursor: pointer;
}
</style>
