<template lang="html">
  <div class="signin">
    <p>Signin In by {{token}}</p>
    <p class="error" v-if="errorMessage">{{errorMessage}}</p>
  </div>
</template>

<script>
export default {
  name: 'SignIn',
  data() {
    return {
      errorMessage: ""
    }
  },
  computed: {
    token() {
      return this.$route.params.token
    }
  },
  async mounted() {
    try {
      await this.$store.dispatch('SignIn', this.token)
      document.location = '/'
    } catch (error) {
      this.errorMessage = error.message
    }
  }
}
</script>

<style lang="css" scoped>
.error {
  color: red;
}
</style>
