<template>
  <router-view/>
</template>

<script>
export default {
  beforeCreate() {
    this.$store.commit('populateUser')
  },
  created() {
    this.$EventServer.start(this)
  },
  beforeUnmount() {
    this.$EventServer.close()
  }
}
</script>

<style>
#app {
}
</style>
