Hi {{name}}!

<p>
Welcome to Zyne!<br>
To sign up and automatically login, click the following link:<br>
<a href="http://localhost:5000/signup/{{token}}">Sign Up</a>
</p>

<p>
Or copy this url into your browser:<br>
<pre>http://localhost:5000/signup/{{token}}</pre>
</p>

<p>
Thanks for joining the community.<br>
Zyne ♥ you!
</p>
