Hi {{name}}!

<p>
Welcome to Zyne!<br>
To sign in, click the following link:<br>
<a href="http://localhost:5000/signin/{{token}}">Sign In</a>
</p>

<p>
Or copy this url into your browser:<br>
<pre>http://localhost:5000/signin/{{token}}</pre>
</p>
