<template lang="html">
  <Message v-if="blogsuccess" severity="success" :life="5000" :sticky="false">{{successMessage}}</Message>

  <div class="p-fluid p-formgrid p-grid newblog">
    <div class="p-field p-col">
      <label for="title">Title</label>
      <InputText id="title" type="text" v-model="title" />
    </div>
    <div class="p-field p-col">
      <label for="content">Content</label>
      <Textarea v-model="content" rows="5" cols="30" />
    </div>
  </div>
  <div class="p-fluid">
    <div class="p-field">
      <Button type="button" @click="send" label="Send" />
    </div>
  </div>
</template>

<script>
export default {
  name: "NewBlog",
  data() {
    return {
      title: "",
      content: "",
      blogsuccess: false
    }
  },
  computed: {
    successMessage() {
      return this.$Text('NEW_BLOG')
    }
  },
  emits: ["newblogcreated"],
  methods: {
    async send() {
      try {
        const result = await this.$Http.post('/blog', {
          title: this.title,
          content: this.content
        })
        this.$emit('newblogcreated', { title: this.title, id: result.data.blog_id })
        this.title = ""
        this.content = ""
        this.blogsuccess = true
        setTimeout(() => {
          this.blogsuccess = false
        }, 3000);
      } catch (error) {
        console.error(error.response.data);
      }
    }
  }
}
</script>

<style lang="css" scoped>
.blogsuccess {
  background-color: green;
}
.newblog {
  margin: 30px 0;
}
</style>
