<template lang="html">
  <div class="newcomment">
    <div>
      <label for="username">User Name</label>
      <input type="text" name="usernam" v-model="username">
    </div>
    <div class="">
      <label for="content">Content</label>
      <textarea rows="5" cols="80" name="content" v-model="content"></textarea>
    </div>
    <button type="button" @click="send">Send</button>
    <div class="commentsuccess" v-if="commentsuccess">
      New comment created
    </div>
  </div>
</template>

<script>
export default {
  name: "NewComment",
  data() {
    return {
      username: "",
      content: "",
      commentsuccess: false
    }
  },
  props: [
    'blog_id'
  ],
  methods: {
    async send() {
      try {
        console.log(this.blog_id);
        const result = await this.$Http.post('/comment', {
          blog_id: this.blog_id,
          user_name: this.username,
          content: this.content
        })
        this.$emit('newcommentcreated')
        this.username = ""
        this.content = ""
        this.commentsuccess = true
        setTimeout(() => {
          this.commentsuccess = false
        }, 3000);
      } catch (error) {
        console.error(error.response.data);
      }
    }
  }
}
</script>

<style lang="css" scoped>
.commentsuccess {
  background-color: green;
}
.newcomment {
  margin: 30px 0;
}
</style>
